
/* Experience Section */
.experience-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.experience-logo {
    flex: 0 0 80px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-logo img {
    max-width: 100%;
    max-height: 60px;
    width: auto;
    height: auto;
}

.experience-details {
    flex: 1;
}
